@font-face {
    font-family: baloo;
    src: url("../fonts/Baloo2-VariableFont_wght.ttf");
}
@font-face {
    font-family: comforta;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
    font-family: archivoBlack;
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}